@font-face {
    font-family: 'minecraftia';
    src: url(fonts/Minecraftia-Regular.ttf);
}
* {
    font-family: minecraftia;
}
.topnav {
    background-color:#1e2124;
    height: 80px;
    margin: 0px;
}
  body {
    background-image: url('https://github.com/WhoIsJeb-64/WhoIsJeb-64.github.io/blob/main/images/Background.png');
    margin: 0px;
}
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0px 3px black;
  }
  .topnav a.active {
    color: yellow;
  }
.topnav a:hover {
  color: yellow;
}